<div class="container mt-5">
  <h1>Restaurants</h1>
  <hr>
  <div class="container">
    <ul>
      <% @restaurants.each do |restaurant| %>
        <li><%= restaurant.name %></li>
      <% end %>
    </ul>
  </div>
</div>
