<div class="container mt-5">
  <h2><%= @restaurant.name %></h2>

  <hr>

  <div class="container">
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <p><%= @restaurant.category.capitalize %></p>
  </div>
</div>
